# Data Bootcamp: Code Practice #1

### 1. Describe and explain what each of these expressions produces in basic Python:

The expression below results in the summation of the two integers:

In [1]:
2+5

7

The expression below results in the same summation of the two integers as in the example above. In Python, spacing does not have any effect on the outcome of the operation:

In [2]:
2 + 5

7

The expression below results in the multiplication of the two integers, giving the product as the output:

In [3]:
2*5

10

The expression below results in the division of the two integers, displayed in decimal format. This output would be categorized as a float type in Python:

In [4]:
2/5

0.4

The expression below results in the exponentiation of the first integer by the second integer. In python, "**" represents "to the power of" rather than "^":

In [5]:
2**5

32

### 2. What is the value of x after running these statements in order? Why?

In [8]:
x = 7
x = x + 3
print(x)

10

This example shows how Python runs statements in a line-by-line basis. While the value of x is initally assigned to 7, Python takes the second statement (resulting in x=10) to be the value of x going forward.

### 3. What is the value of y after running these statements in order? Of x? Why?

In [9]:
x = 3
y = x
x = 10
print (x,y)

10 3

After running these statements, y = 3 and x = 10 because Python runs code on a line-by-line basis. Although x is initally 3, the value is changed in the third line of the code. Y, however, stays equal to 3 because Python does not run the lines backwards. Y is equal to to the value of at the time this statement ran. Although the value of x later changes, this is not reflected in the value of y retroactively.

### 4. Does this code run without error? If so, what does it produce? If not, explain why.

In [10]:
x = 3
x = x / 2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

Yes, this code runs without error. It produces x to have a value of 1.5 (as assigned in line 2 of the cell). Since y is a string, the addition function in line 4 of the cell concatenates the value-- meaning it combines it without spaces.

### 5. Does this code run without error? If so, what does it produce? If not, explain why.

In [11]:
x = 3
x = x / 2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

No, this code does not run without error. It has a type error in the fourth line of the cell because you cannot perform addition on two objects of different types. In this case, x is a float and z is a string. Therefore they can't be added together.

### 6. Does this code run without error? If so, what does it produce? If not, explain why.

In [13]:
x = 3
y = 24
z = y / x
print (x, y, z, sep="|")

3|24|8.0

This code runs without error. It produces the values of x, y, z separated by the "|" symbol as delineated by the built-in separator function.

### 7. Does this code run without error? If so, what does it produce? If not, explain why.

In [14]:
x = 3
y = '24'
z = y / x
print (x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

This code runs with a type error because you cannot perform an operation (like division in this case) with two objects of different types. The quotes around 24 in line 2 converts y to being a string, even though 24 itself is recognized as an integer in Python.

### 8. Does this code run without error? If so, what does it produce? If not, explain why.

In [16]:
x = "I am a #string" #Whoa, a string!
print (x)

I am a #string

In the example above, the "#" within the quotes is recognized as part of the statement classified as a string. The "#" outside after is recognized in Python as a comment, so it is not run in the code.

### 9. Does this code run without error? If so, what does it produce? If not, explain why.

In [17]:
x =[1, 2, 3]
y =[42,43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

The code runs without an error. In this example, the addition operation concatenates these two lists into one single list.

### 10. Does this code run without error? If so, what does it produce? If not, explain why.

In [18]:
x = [1, 2, 3]
y = 42
z = x + y
print (z)

TypeError: can only concatenate list (not "int") to list

In this example, there is a type error. You cannot perform the addition function to concatenate two different types (an integer with a list). Both must be lists to properly concatenate in this example, which could be accomplished by placing brackets around the [42].

### 11. What types are the following:

In [20]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12.0']
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'list'>

The first is an integer, the second a float, the third a string, and both of the last two are lists (denoted through the brackets).

### 12. Explain the result of each line:

In [26]:
type(42)

int

In [27]:
type(42.0)

float

In [28]:
type('42.0')

str

In [29]:
type("42.0")

str

In [30]:
type("""42.0""")

str

In [31]:
type([1, 2])

list

In [32]:
type([1]+[2])

list

In [33]:
type(1+2)

int

In [34]:
type(print)

builtin_function_or_method

In all these examples, the type function is giving the out put as the type of the object within the parentheses.

The first one is an integer, as the number is entered as itself and it does not have any decimal or remainder.

The second is a float. It is similar to an integer, but has a decimal. Although this one has no remainder. The decimal itself converts it to a float.

The third, fourth, and fifth are all strings. Integers and floats can be converted to strings by putting them in any amount of quotations, as this example shows.

The sixth and seventh are both lists because the numbers are in brackets. The seventh demonstrates how lists can be concatenated through the "+" operation.

The eighth is an integer-- it is simply the sum of two integers resulting in an integer.

The ninth and final is a built in function to Python.

### 13. Describe and explain the result of this statement:

In [38]:
type(float(str(int('1234'))))

float

In this example, the type function is giving us the type of the final statement-- which in this case is a float. Starting on the inside and working its way out, Python converts this integer to an integer, then to a string, and finally to a float. Similar to how Python works line-by-line, it also works from the inside out when defining this '1234' value.

### 14. Describe and explain the result of this statement:

In [39]:
type(int(float('12.34')))

int

In this example, the type function ultimately recognizes the type of this value to be an integer. Initally a float, it is then converted still to a float and finally to an integer based on the same logic in example 13.

### 15. Explain each line:

In [40]:
len([1234])

1

The length of this expression (which is a list) is 1 object since there are no spaces. Python recognizes this as one object (1,234) in a list.

In [42]:
len("1234")

4

Since the type of this value is a string, the length is determined by the number of characters, which is 4 in this case.

In [43]:
len(1234)

TypeError: object of type 'int' has no len()

There is a type error here since the length function does not work for an integer.

### 16. What are the type and length of x = []?

In [45]:
x =[]
print(type(x))
print(len(x))

<class 'list'>
0

In this example, x is a list since it is bracketted. Although no values are contained, it is simply an empty list. It initializes a list which items can be added to.

The length is 0 since this list contains no values.

### 17. Convert the string 'abcde' to a list. What does it look like?

In [49]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

Each item in the sting is separated into its own item in a list. The quotations around the string result in quotes around each item (letter in this example).

### 18. Consider the integer x =1234:

#### A. Convert x to a floating point number:

In [52]:
x=1234
float(1234)

1234.0

#### B. Convert x to a string:

In [54]:
str(x)

'1234'

#### C. Convert x to the list ['1', '2', '3', '4']:

In [57]:
list(str(x))

['1', '2', '3', '4']

### 19. How would you convert x to "title case" (first letter of each word capitalized)?

In [58]:
x = "luke, i am your father"

In [62]:
x.title()

'Luke, I Am Your Father'

Using tab completion, I discovered that "title" is the appropriate method to convert this string to title case.

### 20. Consider the string:

#### x = "How many characters and words are in this string?"

#### a. How many characters does x contain?

In [67]:
len(x)

49

*Note: I am counting spaces as characters in the example above.

#### b. Convert x to a list of individual characters:

In [74]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

#### c. Convert x to a list of individual words:

In [75]:
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

#### d. How many words does x contain?

In [80]:
len(x.split(" "))

9

The result above gives us the number of words in the string, x.

### 21. Approximately how long did this assignment take you? Answer this by creating a .csv file and entering a time (in minutes) and posting it to your Github my_first_repository title time_for_practice1.csv

This assignment took me close to 3 hours because of numerous mishaps (including my cat spilling water on and frying my own laptop resulting in me downloading python on my friend's laptop)